<!-- All: jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Bodymovin -->
{% if page.body_class contains 'bm' %}
  <!-- <script src="/assets/js/bodymovin.js"></script> -->
{% endif %}

<!-- All: Main -->
<script src="/assets/js/main.js"></script>

<!-- Home -->
{% if page.body_class contains 'home' %}
  <script src="/assets/js/tracker.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDc1_qiXmFoFFl8kdv1Tj6n8oZbKg8PEwo&callback=initMap"></script>
  <script src="/assets/js/home.js"></script>
  <!-- <script src="/assets/js/form-invite.js"></script> -->
{% endif %}

{% if page.body_class contains 'tracker' %}
  <!-- <script src="https://maps.googleapis.com/maps/api/js"></script> -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDc1_qiXmFoFFl8kdv1Tj6n8oZbKg8PEwo&callback=initMap"></script>
  <script src="/assets/js/tracker.js"></script>
  <!-- <script src="/assets/js/form-invite.js"></script> -->
{% endif %}

<!-- Slide -->
{% if page.body_class contains 'slide' and page.url != '/' %}
  <!-- <script src="/assets/js/bodymovin-custom.js"></script> -->
{% endif %}

<!-- Salute -->
{% if page.body_class contains 'salute' %}
  <!-- <script src="/assets/js/jquery.waypoints.min.js"></script> -->
  <!-- <script src="/assets/js/bodymovin.js"></script> -->
  <!-- <script src="/assets/js/salute.js"></script> -->
{% endif %}

<!-- Join -->
{% if page.body_class contains 'join' %}
  <!-- <script src="/assets/js/form-invite.js"></script> -->
{% endif %}

<!-- Research Topics -->
{% if page.body_class contains 'research-topics' %}
  <!-- <script src="/assets/js/form-add-topic.js"></script> -->
{% endif %}
