// ==================================================================
// TFM Components / Icons
//

// ==================================================================
// Icons / Metadron
//

.tfm-icon-meta {
  display: block;
  margin: $tfm-gap * $tfm-gr auto 0;
  width: 100px;
  height: 100px;
  // background: $tfm-dark;
}